#main {
  background: #000;
  padding-top: 1rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 0.3em 0.3em rgb(184, 149, 194);
  max-width: 100vw;
}

/* ~ está selecionando um #main que seja adjacente ao btn*/
#btn-dark-mode:checked ~ #main {
  transition: 0.5s all;
  filter: invert(1) hue-rotate(210deg);
}
#btn-dark-mode {
  z-index: 3;
  width: 10vw;
  height: 4vw;
  -webkit-appearance: none;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  left: 80vw;
  top: 16vw;
  border-radius: 2.5vw;
  background: white;
}
#btn-dark-mode[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 5vw;
  background: black;
  left: 0.5vw;
  top: 0.5vw;
  transition: 0.5s;
}

#btn-dark-mode:checked[type="checkbox"] {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
}

#btn-dark-mode:checked[type="checkbox"]:before {
  left: 6.5vw;
  background: white;
}

h1 {
  text-align: center;
}
#first-line {
  font-size: 6.5vw;
  font-family: sans-serif;
  color: #457b9d;
}
#second-line {
  font-size: 10vw;
  font-family: sans-serif;
  color: rgba(168, 218, 220, 0.2);
}
#mid {
  color: rgba(168, 218, 220, 1);
}
