* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.row {
  width: 100vw;
  margin-top: 5vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.menu_container {
  width: 100%;
  padding: 20px;
  margin: 20px;
  border-top: 2px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  list-style-type: none;
}

.menu_container li a {
  background-color: #8a2be2;
  color: white;
  letter-spacing: 0px;
  text-decoration: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

  padding: 20px;
  width: 300px;

  display: flex;
  justify-content: center;

  transition: 0.5s ease;
}

.menu_container li a:hover {
  background-color: #5b005b;
  padding: 20px;
  text-align: center;
  letter-spacing: 3px;
}
