@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
/** -----------------
   Definições Globais
   ------------------ **/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  display: block;
  overflow-x: hidden;
  background-color: #282828;
}

h1 {
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
  color: rgb(253, 189, 46);
}

/** -----------------
        Header
   ------------------ **/

nav {
  background-color: hsla(254, 12%, 35%, 0.137);
  width: 100%;
  position: fixed;
  top: 0px;
}
nav ul {
  margin: 1em auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
}

nav li:active {
  color: #fdbd2e;
}

nav li {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #fff;

  padding: 8px; /*fall-back*/
  padding: 0.5em; /*fall-back*/
  padding: 0.5rem;
}

/** -----------------
        Conteúdo
    ------------------ **/
.background-images {
  display: none;
}

content {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo_container {
  padding-top: 20vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_image {
  max-height: 80%;
  max-width: 50%;
}

/** ---------
      Sobre
    ---------- **/

.empresa {
  border: 2px solid #fff;
  color: white;
  width: 80%;

  padding: 16px; /*fall-back*/
  padding: 1em; /*fall-back*/
  padding: 1rem;

  margin: 32px auto; /*fall-back*/
  margin: 2em auto; /*fall-back*/
  margin: 2rem auto;
}

.empresa p {
  text-align: justify;
  line-height: 1.7em;
  letter-spacing: 0.05em;
}

/** ---------
    Portfolio
    ---------- **/
.portfolio-section {
  width: 100%;
}

/** ---------
    Carroussel
    ---------- **/

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.images-preview {
  flex-wrap: wrap;
  text-align: center;
}

.images-preview img {
  width: calc(80% / 3);
  height: calc(80% / 3);
  padding: 0px;
  margin: 0px;
}

#arrow-left,
#arrow-right {
  color: #fdbd2e;
  font-size: 2em;
  font-family: "Nunito", sans-serif;

  position: absolute;
  z-index: 2;
  border-radius: 1em;
}

#arrow-left {
  left: 2%;
}

#arrow-right {
  right: 2%;
}

/** -----------------
          Contato
    ------------------ **/
.contato-card {
  background-color: #2a384e;
}

.contato-card h1 {
  font-size: 1.7em;
  padding-top: 0.5em;
}

.contato-card__content {
  padding: 10px;
}

.contato-card__colum01 {
  font-family: "Nunito", sans-serif;
  color: #fff;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato-card__colum01 p {
  line-height: 1.6em;
}

.contato-card__colum01 img {
  width: 60px; /*fall-back*/
  width: min(60px, 80%);
  padding-left: 1em;
}

.contato-card__colum02 {
  display: flex;
  flex-wrap: wrap;
}

.contato-card__colum02 input {
  padding-top: 1em;
  padding-bottom: 4px;
  padding-left: 4px;
  margin: 0.5em auto;
  width: 80%;

  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #fff;
  color: white;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
  width: 80%;
  margin: 1em auto;

  outline: none;
  background-color: #ffffff00;
  border: 2px solid #fff;
  border-radius: 20px;
  color: white;
}

.send img {
  width: 1.5em;
  margin-left: 1em;
}

.contato-card__colum02 input:active,
input:focus {
  background-color: #ffffff0b;
  border-bottom: 2px solid #fff;
}

/** -----------------
          Footer
   ------------------ **/

footer {
  background-color: #11161f;
  padding: 1.5em;
  text-align: center;
  color: #fff;
}

footer span {
  color: #fdbd2e;
}

/** -----------------
      DESKTOP
   ------------------ **/

@media (min-width: 700px) {
  body {
    background-color: #fff;
  }
  content {
    margin: auto;
    width: 50%;
  }

  /** -----------------
      Plano de fundo
   ------------------ **/

  .background-images {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .background-image-column {
    width: 50%;
    position: relative;
  }

  .background-image-column:nth-child(even) img {
    float: right;
    margin-right: 2.5vw;
    margin-top: 30%;
  }

  .background-images img {
    width: calc((100vh + 30vw) / 4);
    height: calc((100vh + 30vw) / 4);
    float: left;
    margin-left: 2.5vw;
    position: relative;
    z-index: -50;
  }

  .filter-black {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(40, 40, 40, 0.789);
  }

  @media (min-width: 1500px) {
    .background-image-column:nth-child(even) img {
      margin-top: 20%;
    }
  }

  @media (min-width: 2000px) {
    .background-image-column:nth-child(even) img {
      margin-top: 10%;
    }
  }

  @media (min-width: 4000px) {
    .background-images img {
      width: calc((100vh + 10vw) / 4);
      height: calc((100vh + 10vw) / 4);
    }
  }
  /** -----------------
          Rotacionamento
      ------------------ **/
  .rotation_yodinha {
    transform: rotate(0deg);
  }
  .rotation_bomberman {
    transform: rotate(-10deg);
  }
  .rotation_cofee {
    transform: rotate(10deg);
  }
  .rotation_frog {
    transform: rotate(15deg);
  }
  .rotation_link {
    transform: rotate(-10deg);
  }
  .rotation_lolo {
    transform: rotate(10deg);
  }
  .rotation_shin_chan {
    transform: rotate(-20deg);
  }
}
