@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
/** -----------------
   Definições Globais
   ------------------ **/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  display: block;
  overflow-x: hidden;
  background-color: #222;
}

h1 {
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
  color: rgb(253, 189, 46);
}

/** -----------------
        Header
   ------------------ **/

nav {
  background-color: rgba(83, 78, 100, 0.138);
  width: 100%;
  position: fixed;
  top: 0px;
}
nav ul {
  margin: 1em auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
}

nav li:active {
  color: rgb(253, 189, 46);
}

nav li {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #fff;

  padding: 8px; /*fall-back*/
  padding: 0.5em; /*fall-back*/
  padding: 0.5rem;
}

/** -----------------
        Conteúdo
    ------------------ **/
content {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px; /*fall-back*/
  padding: 1em; /*fall-back*/
  padding: 1rem;
}

.logo {
  width: 100%;
  height: auto;
}

/** ---------
      Sobre
    ---------- **/

.empresa {
  border: 2px solid #fff;
  color: white;
  width: 80%;

  padding: 16px; /*fall-back*/
  padding: 1em; /*fall-back*/
  padding: 1rem;

  margin: 32px auto; /*fall-back*/
  margin: 2em auto; /*fall-back*/
  margin: 2rem auto;
}

.empresa p {
  text-align: justify;
  line-height: 1.7em;
  letter-spacing: 0.05em;
}

/** ---------
    Portfolio
    ---------- **/
.portfolio-section {
  width: 100%;
}

/** ---------
    Carroussel
    ---------- **/

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.images-preview {
  flex-wrap: wrap;
  text-align: center;
}

.images-preview img {
  width: calc(80% / 3);
  height: calc(80% / 3);
  padding: 0px;
  margin: 0px;
}

#arrow-left,
#arrow-right {
  color: rgb(253, 189, 46);
  font-size: 2em;
  font-family: "Nunito", sans-serif;

  position: absolute;
  z-index: 2;
  border-radius: 1em;
}

#arrow-left {
  left: 2%;
}

#arrow-right {
  right: 2%;
}

/** -----------------
          Contato
    ------------------ **/
.contato-card {
  background-color: rgb(42, 56, 78);
}

.contato-card h1 {
  font-size: 1.7em;
  padding-top: 0.5em;
}

.contato-card__content {
  padding: 10px;
}

.contato-card__colum01 {
  font-family: "Nunito", sans-serif;
  color: #fff;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato-card__colum01 p {
  text-align: justify;
  line-height: 1.6em;
}

.contato-card__colum01 img {
  width: 60px; /*fall-back*/
  width: min(60px, 80%);
  padding-left: 1em;
}

.contato-card__colum02 {
  display: flex;
  flex-wrap: wrap;
}

.contato-card__colum02 input {
  padding-top: 1em;
  padding-bottom: 4px;
  padding-left: 4px;
  margin: 0.5em auto;
  width: 80%;

  outline: none;
  background-color: #ffffff00;
  border-bottom: 2px solid #fff;
  color: white;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
  width: 80%;
  margin: 1em auto;

  outline: none;
  background-color: #ffffff00;
  border: 2px solid #fff;
  border-radius: 20px;
  color: white;
}

.send img {
  width: 1.5em;
  margin-left: 1em;
}

.contato-card__colum02 input:active,
input:focus {
  background-color: #ffffff0b;
  border-bottom: 2px solid #fff;
}

/** -----------------
          Footer
   ------------------ **/

footer {
  background-color: rgb(17, 22, 31);
  padding: 1.5em;
  text-align: center;
  color: #fff;
}

footer span {
  color: rgb(253, 189, 46);
}
